<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/main/">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">shopping</h1>
    <h4 class="mb-3">
      Lorem ipsum dolor sit amet
      consectetur adipisicing elit.
      Iure ipsum
      blanditiis itaque laboriosam ea
      enim iste odit placeat eveniet quam non nesciunt, libero sapiente minima, id deleniti vel unde aliquid fugit Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Amet in ducimus inventore obcaecati repellat dolores, corrupti
      deserunt. Debitis, minus! Perferendis facilis natus, quam tenetur nam blanditiis voluptates repellat eaque totam
      nulla laborum necessitatibus minima quaerat numquam dolore. Sequi officia nesciunt amet modi, itaque veritatis
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, aliquid! Ullam eaque, dolorem commodi
      eoscumque libero eni
      autem sapiente similique nulla minima vero eos possimus alias magni sed exercitationem quasi necessitatibus.
      Maiores dolore quis aliquam eaque quae, veritatis odit rerum nulla voluptate. Vero quo a molestias magnam, iure
      repellat animi sequi minus modi, iusto libero autem dolorum veniam cupiditate, similique soluta recusandae
      laudantium quam. Aliquid in incidunt voluptates, facere voluptatem, neque repellendus recusandae nesciunt cum,
      placeat reiciendis. Unde, ea! Molestias, delectus. Itaque, eveniet fugiat voluptas quod consequuntur quaerat nam
      quisquam architecto tempore ullam necessitatibus a tempora reprehenderit in sunt quas. Sapiente temporibus quam
      fugit ratione molestiae, possimus iure, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, saepe et
      ducimus culpa nesciunt dolor facilis iste assumenda tempora possimus.
      nesciunt consequuntur cum dolorum?</h4>
    <a class="btn btn-primary" href="" role="button">Call to action</a>
  </div>
  <!-- Jumbotron -->
</header>